body{
  font-family: "Sofia", sans-serif;
}
.backgroundImage {
  background: url(./images/landing2.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: 0px -75px;

}

.ui.borderless.inverted.menu {
  box-shadow: none;
  border-radius: 0;
}

.donate {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

#footer{
  background-color: #cb0713;
}

.footerText{
  margin-bottom: 0 ;
}

.whiteText{
  color: whitesmoke !important;
}

#navBar{
  color: #cb0713;
  border-bottom: 5px solid #f8b416;
}

.navBarFontSize{
  font-size: 22;
  font-family: "Sofia", sans-serif !important;
}