body {
  background-color: #8b0000 !important;
}

.ui.borderless.inverted.menu {
  margin-bottom: 0;
  box-shadow: none;
  border-radius: 0;
}

.donate {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}
