
.backgroundImage {
  background: url(./images/landing2.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: 0px -75px;
}

.backgroundStyle {
  background-color: #f3e3c0;
}

#footer{
  background-color: #cb0713;
  border-top: 5px solid #f8b416;
}

.footerText{
  margin-bottom: 0 ;
}


.whiteText{
  color: whitesmoke !important;
}

#boardCardColor{
  background-color: white;
}

#navBar{
  background-color: #cb0713;
  border-bottom: 5px solid #f8b416;
}

#logoFont{
  font-family: 'Domine', serif;
}

body{
  font-family: "Lato", sans-serif;
}

/*Scholarships Page*/
.scholarHeader {
  font-size: 3em;
  font-family: 'Domine', serif;
  margin-top: .5em !important;
  margin-bottom: .5em !important;
  color: #cb0713;
}
.scholarSubHeader {
  font-family: 'Domine', serif;
  color: #cb0713;
}

.containerOpa {
  opacity: 1 !important;
  max-width: 100%;
  height: auto;
}